<template name="StreamShow">
  <div class="container">
    <div class="row-fluid">
      <h1>{{stream.title}}</h1>
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{stream.title}}">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <a class='btn btn-primary' href='/posts/new?stream_id={{stream._id}}'>投稿</a>
      {{> PostIndex posts}}
    </div>
  </div>
</template>
